<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./templates/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="content">
        <!--<div id="content" class="center_content">-->
        <!-- <div class="main">-->
        <!-- content -->
        <section id="content">

            <article class="col1">
                <!--  <div class="pad_1">-->
                <h:form>
                    <br/>
                    <h:dataTable id="tablaAplicaciones" value="#{aplicacionBean.aplicacionesUsuario}" border="1" var="a">
                        <f:facet name="header">
                            <h2><h:outputText value="Todas mis aplicaciones"/></h2><br/> 
                        </f:facet>

                        <h:column >
                            <h:outputLabel  value="#{a.nombre}" styleClass="textoTable"/>
                        </h:column>

                        <h:column>
                            <h:commandButton value="Ver" styleClass="signupButtonEditar">  
                                <f:setPropertyActionListener value="#{a}" target="#{aplicacionBean.aplicacionseleccionada}"/>      
                            </h:commandButton>
                        </h:column>

                        <h:column>
                            <h:commandButton value="Editar" styleClass="signupButtonEditar" action="#{editorBean.cargarItems()}">
                                <f:setPropertyActionListener value="#{a}" target="#{editorBean.app}"/>
                            </h:commandButton>
                        </h:column>

                        <h:column>
                            <h:commandButton styleClass="borrarButton" action="#{aplicacionBean.borrarAplicacion()}" rendered="#{a.propietario==loginBean.user}">
                                <f:setPropertyActionListener value="#{a}" target="#{aplicacionBean.aplicacionseleccionada}"/>
                            </h:commandButton>
                        </h:column> 
                    </h:dataTable> 
                </h:form>
                <!--</div>-->
            </article>

            <article class="col2">

                <h:form class="form_settings_inside">                      
                    <h:panelGroup layout="block">
                        <h:outputText value="Nombre aplicación" styleClass="texto"/><br/>
                        <h:inputText id="name" value="#{aplicacionBean.nombre}" styleClass="inputTextSignUp" validator="#{validationBean.validateNombre}"/>
                        <br/>
                        <h:message for="name" style="color:red" />
                        <br/>

                        <h:outputLabel value="Descripción de la aplicación" styleClass="texto"/><br/>
                        <h:inputTextarea id="descripcion" value="#{aplicacionBean.descripcion}" styleClass="inputTextSignUp" validator="#{validationBean.validateDescripcion}"/>
                        <h:message for="descripcion" style="color:red" />
                        <br/>

                        <h:outputText value="Selecciona un grupo" />
                        <h:selectOneMenu id="grupo" value="#{aplicacionBean.grupo}" label="Selecciona grupo">
                            <f:selectItem itemLabel="Sin Grupo"/>
                            <f:selectItems value="#{loginBean.grupos}" var="grupo" itemLabel="#{grupo.nombre}" itemValue="#{grupo.idGrupo}"/>
                        </h:selectOneMenu>
                        <br/>

                        <h:commandButton action="#{aplicacionBean.crearAplicacion()}" value="Crear aplicación" styleClass="signupButton">
                        </h:commandButton>
                        
                    </h:panelGroup>
                </h:form>

                <br />  

                <!--Para mostrar informacion de una aplicacion-->

                <h:form class="form_settings_pressbutton" rendered="#{aplicacionBean.aplicacionseleccionada!=null}">

                    <h:panelGroup layout="block" >
                            <strong><h:outputText value="Nombre aplicacion: " styleClass="outText" /></strong><br/><br/>
                            <span class="pad_bot2"><h:inputText  value="#{aplicacionBean.aplicacionseleccionada.nombre}" styleClass="inputTextSignUp" /></span><br/><br/>
                            <strong><h:outputText value="Descripcion de la aplicacion " styleClass="outText" /></strong><br/><br/>
                            <span class="pad_bot2"><h:inputText value="#{aplicacionBean.aplicacionseleccionada.descripcion}" styleClass="inputTextSignUp" /></span><br/><br/>
                            <strong>
                                <h:outputText value="Fecha: #{aplicacionBean.aplicacionseleccionada.fecha}" styleClass="outText">
                                        <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                                </h:outputText>
                            </strong><br/><br/>
                            <strong><h:outputText value="Propietario: #{aplicacionBean.aplicacionseleccionada.propietario.nombre}" styleClass="outText" /></strong><br/><br/>
                            <strong><h:outputText value="Grupo: #{aplicacionBean.aplicacionseleccionada.grupo.nombre}" styleClass="outText" /></strong><br/><br/>
                            <br/>
                            
                            
                            <h:commandButton  value="Guardar cambios " action="#{aplicacionBean.modApp()}" styleClass="signupButton" />
                            
                            <h:commandButton value="Editar la interfaz" styleClass="signupButton" action="#{editorBean.cargarItems()}">
                                <f:setPropertyActionListener value="#{aplicacionBean.aplicacionseleccionada}" target="#{editorBean.app}"/>
                            </h:commandButton>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                 
                    </h:panelGroup>
                    
                </h:form>
            </article>   
        </section>
        <!--</div>-->
        <!--</div> -->  
    </ui:define>
</ui:composition>
