<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./templates/masterTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">
    
    
    
    <ui:define name="content">
        <div id="content" class="center_content">
            <!-- / header -->
            <div class="main">
                <!-- content -->
                <section id="content">
                    <article class="col1">
                        <h2>Última Actividad</h2>
                        <h3> Aplicaciones </h3>
                        
                        <ul>
                            <h:form>
                            <ui:repeat value="#{loginBean.aplicacionesTamano3}" var="app">
                                <li>
                                    <h:commandLink value="#{app.nombre}" styleClass="link1" action="#{editorBean.cargarItems()}">
                                         <f:setPropertyActionListener value="#{app}" target="#{editorBean.app}"/>
                                    </h:commandLink>
                                </li>
                            </ui:repeat>
                            </h:form>
                        </ul>
                        <h3>Grupos</h3>
                        <ul>
                            <h:form>
                            <ui:repeat value="#{loginBean.gruposTamano3}" var="grupo">
                                <li>
                                    <h:commandLink value="#{grupo.nombre}" action="grupos.xhtml" styleClass="link1">
                                        <f:setPropertyActionListener value="#{grupo}" target="#{loginBean.grupoSeleccionado}"/>
                                    </h:commandLink>
                                    
                                </li>
                            </ui:repeat>
                             </h:form>
                        </ul>
                    </article>
                    <article class="col2">
                        <h2 style="margin-left: 515px">Bienvenido <h:outputText value="#{loginBean.user.nombre}" styleClass="texto"/> a su cuenta de usuario</h2>
                        <h:form styleClass="form_settings_profile">
                            <h:panelGroup layout="block" >
                            <h3><h:outputText value="Todas mis aplicaciones"></h:outputText></h3><br/>
                            <ul>
                                <ui:repeat value="#{loginBean.aplicacionesUsuario}" var="a">
                                    <li>
                                        <h:commandButton value="Editar" styleClass="signupButtonEditar" action="#{editorBean.cargarItems()}">
                                            <f:setPropertyActionListener value="#{a}" target="#{editorBean.app}"/>
                                        </h:commandButton>
                                        <h:outputText value="#{a.nombre}"></h:outputText> 
                                    </li>
                                </ui:repeat>
                            </ul>
                            <br/>
                            <h3><h:outputText value="Todos mis grupos"></h:outputText></h3><br/>
                            <ul>
                                <ui:repeat value="#{loginBean.grupos}" var="g">
                                    <li>
                                       <h:commandButton value="Ver" styleClass="signupButtonEditar" action="grupos.xhtml">
                                            <f:setPropertyActionListener value="#{g}" target="#{loginBean.grupoSeleccionado}"/>
                                       </h:commandButton>
                                        <h:outputText value="#{g.nombre}"></h:outputText>
                                    </li>
                                </ui:repeat>
                            </ul>
                            <br/>
                            </h:panelGroup>
                        </h:form>
                    </article>
                </section>
                <!-- / content -->
            </div>
            
        </div>   
    </ui:define>
</ui:composition>
