<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <a href="http://www.uma.es/" target="_blank"><img src="/Skins4-war/resources/images/ico_uma.png" alt="Universidad de Málaga" class="icons"/></a>
        <img src="/Skins4-war/resources/images/separador.png" alt="Separador de imágenes" class="icons" />
        <a href="http://fundacion.vodafone.es/fundacion/es/" target="_blank"><img src="/Skins4-war/resources/images/icon_fundacion_vodafone.jpg" alt="Fundación Vodafone España" class="icons"/></a>
    </ui:composition>
</html>

